body {
    font-size: 16px;
    padding: 1em;
    background-color: rgb(106, 105, 105);
    font-family: 'Wix Madefor Text', sans-serif;
  }
  
  h1 {
    font-size: 7em;
    color: #fcca03;
    margin-top: 2.5em;
    text-align: center;
    font-family: 'Teko', sans-serif;
  }
  
  h3 {
    margin: auto;
    margin-top: 1em;
    /* margin-bottom: 1em; */
    width: 60%;
    font-size: 1.2em;
    font-weight: 200;
    text-align: center;
    color: #082759;
  }
  
  h2 {
    margin: auto;
    margin-top: 3em;
    margin-bottom: 1em;
    width: 60%;
    font-size: 1.5em;
    font-weight: lighter;
    color: aliceblue;
    text-align: center;
  }
  /* p{
    font-size: 1em;
    color: aliceblue;
    text-align: center;
    margin: 1em 2em;
  } */

  p {
    margin: auto;
    margin-bottom: 5em;
    width: 60%;
    font-size: 1.2em;
    font-weight: 200;
    text-align: center;
    color: #082759;
}

  .label{
    fill: black;
    font-size: 10px;
  }
  .tooltip {
    display: inline;
    position: fixed;
    font-size: 12px;
    background-color: azure;
    border-radius: 5%;
    text-align: center;
    padding: 5px 0;
  }
  circle{
    overflow: visible;
  }
.sort{
  /* border-top: 1px solid #082759; */
  margin-top: 3em;
  margin-left: 200;
  margin-right: 200;
}
    #buttons {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 1rem;
      margin-bottom: 2rem;
      gap: 1rem;
  }
  
  .btnz {
      display: flex;
      justify-content: center;
      margin-bottom: 1em;
      padding: 2em;
      border-bottom: 1px solid #082759;
  }
  
  .btn {
      transition: 0.2s;
      padding: 0.5rem;
      border-radius: 0.5rem;
      font-size: 16px;
      font-weight: 300;
      font-style: bold;
      width: 200px;
      height: fit-content;
      margin-left: 2rem;
      margin-right: 2rem;
      background-color: rgb(106, 105, 105);
      border: 2px solid #fcca03;
      color: white;
  }
  
  .btn:hover {
      cursor: pointer;
      transition: 0.2s;
      color: white;
      background-color: #fcca03;
      font-weight: 800;
  }
  
  .active {
      cursor: pointer;
      padding: 0.5rem;
      border-radius: 0.5rem;
      color: #082759;
      transition: 0.2s;
      background-color: #fcca03;
      font-weight: 800;
  }
  
  .active:hover {
      cursor: pointer;
      font-weight: 900;
      transition: 0.2s;
      background-color: #e6b802;
      color: #082759;
  }
svg{
  background-color: rgb(106, 105, 105);
  align-items: center;
}
/* .btnz > div {
        flex: 3; 
      } */

      /* MODAL */
.modal-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 3;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}

.bg-active {
  visibility: visible;
  opacity: 1;
}

.modal-content {
  display: flex;
  flex-direction: row;
  padding: 5%;
  width: 100%;
}

.content-div {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  margin: 3%;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 0.8em;
  font-weight: 200;
  opacity: 30%;
}

.filter-axis{
  color: aliceblue;
  font-size: 14px;
}

.tooltip{
  height: fit-content;
  width: 10%;
  font-size: 16px;
}
#outro {
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
  width: 56%;
  font-size: 0.9rem;
  font-weight: 100;
  text-align: center;
  padding-top: 2rem;
  border-top: 1px solid rgba(217, 217, 217, 0.2);
  color: white;
}


/* unvisited link */
a:link {
  color: #082759;
  text-decoration: none;
}
a:visited{
  color:#082759;
  text-decoration: none;
  }
/* mouse over link */
a:hover {
  color: #e6b802;
  font-weight: 800;
}

.popup {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 14px;
  z-index: 9999;
  pointer-events: none;
}

