body {
    font-size: 16px;
    padding: 1em;
    background-color: rgb(106, 105, 105);
    font-family: 'Wix Madefor Text', sans-serif;
  }
  
  h1 {
    font-size: 7em;
    color: #fcca03;
    margin-top: 2.5em;
    text-align: center;
    font-family: 'Teko', sans-serif;
  }
  
  h3 {
    font-size: 2em;
    margin: 0.25em 0;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }
  
  h2 {
    margin: auto;
    margin-top: 3em;
    margin-bottom: 1em;
    width: 60%;
    font-size: 1.5em;
    font-weight: lighter;
    color: aliceblue;
    text-align: center;
  }
  /* p{
    font-size: 1em;
    color: aliceblue;
    text-align: center;
    margin: 1em 2em;
  } */

  p {
    margin: auto;
    margin-bottom: 5em;
    width: 60%;
    font-size: 1.2em;
    font-weight: 200;
    text-align: center;
    color: #082759;
}

  .label{
    fill: black;
    font-size: 10px;
  }
  .tooltip {
    display: inline;
    position: fixed;
    font-size: 12px;
    background-color: azure;
    border-radius: 5%;
    text-align: center;
    padding: 5px 0;
  }
  circle{
    overflow: visible;
  }
  /* .btn{
    color:aliceblue;
    background-color:#0089FF;
    border-radius: 50px;
    border: aliceblue;
    font-size: large;
    text-align: center;
    width:100px;
    width: fit-content;
    height: fit-content;
    }
  .btn:hover{
    background-color: aliceblue;
    color: #0089FF;
  }
  .btn:focus{
    background-color: aliceblue;
    color: #0089FF;
  }
.btnz{
    text-align: center;
    align-items: center;
    } */

    #buttons {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 1rem;
      margin-bottom: 2rem;
      gap: 1rem
  }
  
  .btnz {
      display: flex;
      justify-content: center;
  }
  
  .btn {
      transition: 0.2s;
      padding: 0.5rem;
      border-radius: 0.5rem;
      font-size: 1em;
      font-weight: 300;
      font-style: bold;
      width: 100px;
      height: fit-content;
      border-style: none;
      margin-left: 2rem;
      margin-right: 2rem;
      background-color: rgb(100, 98, 98);
      color: #082759;
  }
  
  .btn:hover {
      cursor: pointer;
      transition: 0.2s;
      color: #135DD8;
      background-color: rgb(83, 82, 82);
      font-weight: 800;
  }
  
  .active {
      cursor: pointer;
      padding: 0.5rem;
      border-radius: 0.5rem;
      width: 100px;
      border-style: none;
      margin-left: 2rem;
      margin-right: 2rem;
      color: white;
      transition: 0.2s;
      background-color: #135DD8;
  }
  
  .active:hover {
      cursor: pointer;
      font-weight: 800;
      transition: 0.2s;
      background-color: #0E4399;
      color: white;
  }
svg{
  background-color: rgb(106, 105, 105);
  align-items: center;
}
/* .btnz > div {
        flex: 3; 
      } */

      /* MODAL */
.modal-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 3;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}

.bg-active {
  visibility: visible;
  opacity: 1;
}

.modal {
  display: flex;
  position: relative;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(5px);
  width: 40%;
  height: 30%;
  border-radius: 5px;
  align-items: center;
}

.modal-content {
  display: flex;
  flex-direction: row;
  padding: 5%;
  width: 100%;
}

.image-div {
  object-fit: scale-down;
}

.content-div {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  margin: 3%;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 0.8em;
  font-weight: 200;
  opacity: 30%;
}

.filter-axis{
  color: aliceblue;
  font-size: 14px;
}

.tooltip{
  height: fit-content;
  width: 15%;
  font-size: 16px;
}
.legend-item{
  display: flex;
  align-items: center;
}

.inactive {
  opacity: 0.2;
}

